# sudo apt-get install multistrap dpkg-dev
# multistrap -a armel -d /mnt/raspberrypi -f multistrap-pi.config

[General]
arch=armel
directory=/opt/multistrap/
cleanup=true
noauth=true
unpack=true
aptsources=Grip Debian
debootstrap=Ggrip

[Grip]
packages=
source=http://www.emdebian.org/grip
#keyring=emdebian-archive-keyring
suite=wheezy

[Debian]
packages=
source=http://ftp.de.debian.org/debian
#keyring=debian-archive-keyring
components=main non-free
suite=wheezy
